<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" />
        <title>LiSQ - Login</title>
    </head>

    <body>
        <h1>LiSQ - Login</h1>
        <h3>Ultra-Ultra Secure <a href="mailto:lisq.system.mod@gmail.com">Admin</a></h3>

        {% if error_message %}
        <div class="alert failure">
            {{ error_message }}
        </div>
        {% endif %}


        <form action="/login" method="post">
            <label>Username</label>
            <input type="text" id="username" name="username"/>
            <br />

            <label>Password</label>
            <input type="password" id="password" name="password"/>
            <br />
            <button type="submit">Login</button>
        </form>

        <script type="text/javascript" src="/static/main.js" defer></script>
    </body>
</html>
