html, body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: snow;
}

h1, h3 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    background: lightblue;
    margin: 0px;
    padding: 48px 0 0 0;
}

h3 {
    margin-bottom: 48px;
    padding-top: 16px;
    padding-bottom: 48px;
}

.alert {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background-color: lightgray;
    border: 2px solid gray;
    margin: 0 auto 48px auto;
    border-radius: 3px;
    padding: 16px 32px;
    max-width: fit-content;
    margin-top: 10px;
}

.alert.success {
    background: lightgreen;
    border-color: green;
}

.alert.failure {
    background: #b6e7ff;
    border-color: #007bff;
}

form {
    display: block;
    margin: 0 auto;
    width: 255px;
}

label {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 8px;
    font-weight: bold;
    display: block;
}

input {
    margin-bottom: 16px;
    height: 24px;
    width: 250px;

    border: 1px solid lightgray;
    border-radius: 3px;
}

#submit {
    height: 32px;
    padding: 4px 16px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid gray;
    border-radius: 5px;
    float: left;
}

.key {
    height: 64px;
    width: 64px;
    padding: 4px 16px;
    color: #fff;
    margin: 10px;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
}

#next{
    height: 32px;
    background: none;
    border: 1px solid gray;
    border-radius: 5px;
    width: 70px;
    float: right;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

#prev{
    height: 32px;
    background: none;
    border: 1px solid gray;
    border-radius: 5px;
    width: 70px;
    float: left;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.keypad{
    display: block;
}

#clear {
    height: 32px;
    padding: 4px 16px;
    color: #fff;
    background-color: red;
    border-color: #7d0101;
    border: 1px solid gray;
    border-radius: 5px;
    float: right;
}